#userlist {
    margin: 16px;
    overflow-x: scroll;
}

#userlist table {
    width: 100%;
}

#userlist td, #userlist th {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 24px;
}

#userlist tr:nth-child(even){
    background-color: #eee;
}

#userlist tr:hover {
    background-color: #ddd;
}

#userlist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3FBDE7;
    color: white;
}

#userlist th:hover {
    background-color: #1F9DC7;
}
